@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(../font/Lato-Regular.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Raleway-Thin';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway-Thin'), local('Raleway-Thin'), url(../font/Raleway-Thin.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }

*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F3FBFB;
}
.flex-container{
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
img{
    width: 350px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
button{
    background-color: #51ADC4;
    color: white;
    font-size: 13px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 25px;
    border: none;
    font-family: 'Raleway-Thin';
    margin-bottom: 7px;
}
button:hover{
    cursor: pointer;
}
.write-up{
    padding: 15px
}
h4{
    font-family: 'Lato';
    margin-bottom: 7px;
}
.box{
    height: 450px;
    flex-basis: 350px;
    margin-left: 30px;
    border-radius: 7px;
    box-shadow: 1px 4px 4px rgba(8, 8, 8, 0.109);
    display: flex;
    flex-flow: column;
}
.userContainer{
    align-items: flex-end;
    display: flex;
    height: 100%;
}
.user{
    display: flex;
    flex-grow: 1;
    padding: 15px;
}
.user img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}
.user h5{
    margin-bottom: 3px;
    font-family: 'Lato';
}
.user p{
    font-size: 13px;
    color: rgb(189, 186, 186);
}
#popularBtn{
    background-color: rgb(59, 59, 195);
}
#designBtn{
    background-color: palevioletred;
}
.box-1, .box-2, .box-3{
    background-color: white;
}


@media (max-width: 767px)
{
    body{
        padding: 0px;
        margin: 0px;
    }
    .box{
        flex-basis: 280px;
        margin: 0 auto;
    }
    .box-1, .box-2, .box-3{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    #img{
        width: 280px;
    }
}

@media (min-width: 768px) and (max-width: 991px)
{
    .box{
        flex-basis: 220px;
    }
    #img{
        width: 220px;
    }

}

@media (min-width: 992px) and (max-width:1199px)
{
    .box{
        flex-basis: 300px;
    }
    #img{
        width: 300px;
    }
}